body{
    font-family: arial;
    background: #d8d8d8;
    
    
    }section{
        min-height: 90vh;
        
    }
    
    
    
    .menu{
        list-style: nome;
        padding: 0;
        background: #5d5d5d;
        width: 80%;
        max-width: 1000%;
        margin: auto;
    }
    
    .menu li a{
        text-decoration: none;
        color: white;
        padding: 20px;
        display: block;
    
    }
    
    .menu li{
        display: inline-block;
        text-align: center;
    
    }
    
    .menu li a:hover{
        background: #76b900;
    
    }
    .info .infoge img{
        width: 38vw;
        float: right;
        
    }
    .info{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 1000%;
        margin: auto;
    }
    .info .content h2{
        font-size: 2.5rem;
        color: #333;
        text-transform: uppercase;
    }
    .info .content ul{
        font-size: 1.4rem;
        color: #414141;
        padding: 1rem 0;
    }
    .info .content h2 span{
        color: #76b900;
        text-transform: uppercase;
    }
    .info .content p{
        font-size: 1.4rem;
        color: #414141;
        padding: 1rem 0;
    }
    .inf .infge img{
        width: 40vw;
        float: right;
    }
    .inf{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 1000%;
        margin: auto;
    }
    .inf .content h2{
        font-size: 2.5rem;
        color: #333;
        text-transform: uppercase;
    }
    .inf .content h2 span{
        color: #76b900;
        text-transform: uppercase;
    }
    .inf .content p{
        font-size: 1.4rem;
        color: #414141;
        padding: 1rem 0;
    }

  
    .infor .inforge img{
        width: 55vw;
        float: center;
    }
    .infor{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 1000%;
        margin: auto;
    }
    .infor .content h2{
        font-size: 2.5rem;
        color: #333;
        text-transform: uppercase;
    }
    .infor .content h2 span{
        color: #76b900;
        text-transform: uppercase;
    }
    .infor .content p{
        font-size: 1.4rem;
        color: #414141;
        padding: 1rem 0;
    }
    .inicio{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
        max-width: 1000%;
        margin: auto;
    }
    .inicio .image img{
    
        width: 33vw;
        animation: float 3s linear infinite;
        
    }
    @keyframes float{
        0%, 100%{
            transform: translateY(0rem);
        }
        50%{
            transform: translateY(-3rem);
        }
    }
    .inicio .content h3{
        font-size: 3.5rem;
        color: #333;
        text-transform: uppercase;
    }
    .inicio .content h3 span{
        color: #76b900;
        text-transform: uppercase;
    }
    .inicio .content p{
        font-size: 1.4rem;
        color: #414141;
        padding: 1rem 0;
    }
     .marco-calculadora{
        display: grid; 
         align-content: center;
         min-height: 100vh;
         grid-template-columns: repeat(4, 120px);
         grid-template-rows: minmax(120px, auto) repeat(5, 100px);
         color: #ffff;
         width: 400px;
         position: relative;
         left: 400px;
     }
     .salida{
         grid-column: 1 / -1;
         background-color: #5d5d5d;
         display: flex;
         align-items: flex-end;
         justify-content: space-around;
         flex-direction: column;
         padding: 15px;
         word-wrap: break-word;
         word-break: break-all;
         
         
     }
     .marco-calculadora > button{
         grid-column: 1 / -1;
         height: 30px;
         cursor: pointer;
         font-size: 1rem;
         color: #ffff;
         background-color: #5d5d5d;
         border: 2px solid #76b900;
     }
     .marco-calculadora > p{
         color:#333;
         display: flex;
         align-items: flex-end;
         justify-content: space-around;
         padding: 30vw;
         word-wrap: break-word;
         word-break: break-all;
         
     }
     .marco-calculadora > button:hover{
background-color: #76b900;
     }
     .pantalla{
         color: #5d5d5d;
         font-size: 1.85rem;
         text-align: right;
     }
    